@using BFVereinskasse.Data
@{
    ViewData["Title"] = "Home Page";
}
@model IndexVM

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="row">
    <div class="col-3 align-self-center">
        <h1>
            Zahlungen
        </h1>
    </div>
    <div class="col-3 align-self-center">
        <a href="/Payment/CreatePayment" class="btn btn-sm btn-outline-success ">+ Neue Zahlung</a>
    </div>
    <div class="col-3 align-self-center">
        <span class="text-success">@TempData["SuccessMessage"]</span>
        <span class="text-danger">@TempData["ErrorMessage"]</span>
    </div>
</div>

<div class="">
    <form action="/Home/Index" method="post">
        <div class="row">
            <div class="col-1">
                <h3>Filter</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Mitglied:
            </div>
            <div class="col-2">
                <select name="MemberId">
                    <option value=""> ...</option>
                    @foreach (var member in Model.Members)
                    {
                        if (member.Id == Model.MemberId)
                        {
                            <option selected value="@member.Id"> @member.Vorname @member.Nachname </option>
                        }
                        else
                        {
                            <option value="@member.Id"> @member.Vorname @member.Nachname </option>
                        }
                    }
                </select>
            </div>
            <div class="col-2">
                Ein/Aus:
            </div>
            <div class="col-2">
                <select name="InOutFilter">
                    <option value="">...</option>
                    @{
                        var inoutfilters = Enum.GetValues(typeof(IndexVM.InOutFilterType));
                    }
                    @foreach (IndexVM.InOutFilterType val in inoutfilters)
                    {
                        if (val == Model.InOutFilter.GetValueOrDefault())
                        {
                            <option selected value="@val">@val.ToString()</option>
                        }
                        else
                        {
                            <option value="@val">@val.ToString()</option>
                        }
                    }
                </select>
            </div>

            <div class="col-2">
                Suchtext:
            </div>
            <div class="col-2">
                <input name="Query" class="form-control" />
            </div>
            <div class="col-2">
                Limit:
            </div>
            <div class="col-2">
                <select name="Limit">
                    <option value="">...</option>
                    @foreach (var val in Model.LimitFilters)
                    {
                        if (val == Model.Limit.GetValueOrDefault())
                        {
                            <option selected value="@val">@val</option>
                        }
                        else
                        {
                            <option value="@val">@val</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <input type="submit" value="Filter anwenden" />
            </div>
        </div>

    </form>
</div>

@*ZAHLUNGEN*@
<table class="table">
    <thead>
    <th>
        #
    </th>
    <th>
        Datum
    </th>
    <th>
        Betrag
    </th>
    <th>
        Mitglied
    </th>
    <th>
        Beschreibung
    </th>
    <th>
    </th>
    <th>
    </th>
    </thead>
    @{int i = 1;}
    @foreach (var item in Model.Payments)
    {
        <tr>
            <td>
                @(i++)
            </td>
            <td>
                @item.Datum.ToString("d")
            </td>
            <td>
                @item.Betrag.ToString("c")
            </td>
            <td>
                <img src="/img/@item.Mitglied.Bild" style="height:40px"/>
                @item.Mitglied.Vorname
                @item.Mitglied.Nachname
            </td>
            <td>
                @item.Beschreibung
            </td>
            <td>
                <a href="/Payment/EditPayment/@item.Id" class="btn btn-sm btn-info">Edit</a>
            </td>
            <td>
                <a href="/Payment/DeletePayment/@item.Id" onclick="return confirm('Zahlung löschen?')" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>

